
h1{
    text-align: center;
    font-size: 30px;

    

}
.heading{
    height: 50px;
    background: #5b8c85;

}

.explain{
    background: #5b8c85;
    height: 250px;
}
p{
    text-align: left;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #434e52;

}

.counter{
    border: solid 1px;
    background-color: bisque;
    height: 100px;
    align-items: center;


}
.tracker{
    border: solid 1px;
    background-color: bisque;
    height: 100px;

}


img{
    height: 100%;
    width: 200px;
}

.scoring{
    border: solid 1px;
    height: 100px;
    width: 50%;
    background-color: bisque;


}

#score{
    color: black;


}
#wins{
    color: black;
    font-size: 20px;
}
#loss{
    color: black;
    font-size: 20px;
}
#selectedNumber{
    color: black;
    font-size: 15px;

}
#ysi{
    font-size: 35px;
}