
h1{
    text-align: center;
    font-size: 30px;

    

}
.heading{
    height: 50px;
    background: red;

}

.explain{
    background: green;
    height: 250px;
}
p{
    text-align: left;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;

}

.counter{
    border: solid 1px;
    background-color: bisque;
    height: 100px;


}
.tracker{
    border: solid 1px;
    background-color: blanchedalmond;
    height: 100px;

}
.minerals{
    border: solid 1px;
    background: cornflowerblue;
}
img{
    height: 200px;
    width: 200px;
}

.scoring{
    border: solid 1px;
    height: 300px;
    width: 50%;


}

#score{
    font-size: 10rem;
    color: black;


}
#wins{
    color: black;
    font-size: 20px;
}
#loss{
    color: black;
    font-size: 20px;
}
#selectedNumber{
    color: black;
    font-size: 15px;

}
#ysi{
    font-size: 35px;
}